.App {
  text-align: center;
}

.board {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.team {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color:rgb(250, 250, 250); */
  border-radius: 20px;
}

.team:hover {
  /* background-color:rgb(250, 250, 250); */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.479);
}

.team--name {
  height: fit-content;
  font: bold;
  font-size: large;
}

.team--pic img {
  border-radius: 20px;
}

.directors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person {
  margin: 30px;
  padding: 23px 23px 23px 23px;
  cursor: pointer;
  background-color:rgb(230, 230, 230);
  border-radius: 20px;
}

.spotlight {
  display:  flex;
  justify-content: center;
}

img {
  border-radius: 50%;
  transition: box-shadow .3s;
}
img:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.479);
}

h2 {
  font-size: xx-large;
}.App {
  text-align: center;
}

.board {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.team {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color:rgb(250, 250, 250); */
  border-radius: 20px;
}

.team:hover {
  /* background-color:rgb(250, 250, 250); */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.479);
}

.team--name {
  height: fit-content;
  font: bold;
  font-size: large;
}

.team--pic img {
  border-radius: 20px;
  margin: 23px;
}

.directors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person {
  margin: 30px;
  padding: 23px 23px 23px 23px;
  cursor: pointer;
  background-color:rgb(230, 230, 230);
  border-radius: 20px;
}

.spotlight {
  display:  flex;
  justify-content: center;
}

img {
  border-radius: 50%;
  transition: box-shadow .3s;
}
img:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.479);
}

h2 {
  font-size: xx-large;
}